/*
Footer Area Style
======================================================*/
.footer-area {
    position: relative;
    width: 100%;
    bottom: 0;
    z-index: 1033;
}

@media (min-width: 991px) {
    .footer-area {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media (max-width: 990px) {
    .footer-area {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.pt-100 {
    padding-top: 100px;
}

.pb-70 {
    padding-bottom: 70px;
}

.bg-color-0057b8 {
    background-color: #143185;
}

.single-footer-widget {
    margin-bottom: 30px;
}

.single-footer-widget .logo {
    margin-bottom: 15px;
    display: inline-block;
}

.single-footer-widget .logo .main-logo {
    display: block;
}

.single-footer-widget .logo .white-logo {
    display: none;
}

.single-footer-widget h4 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.single-footer-widget h3 {
    font-size: 25px;
    margin-bottom: 30px;
    line-height: 32px;
}

.single-footer-widget .info {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.single-footer-widget .info li {
    margin-bottom: 5px;
}

.single-footer-widget .info li:last-child {
    margin-bottom: 0;
}

.single-footer-widget .info li span {
    color: #0057b8;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.08em;
}

.single-footer-widget .info li a {
    font-size: 16px;
    color: #1C1C1C;
    line-height: 28px;
}

.single-footer-widget .import-link {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.single-footer-widget .import-link li {
    margin-bottom: 20px;
}

.single-footer-widget .import-link li:last-child {
    margin-bottom: 0;
}

.single-footer-widget .import-link li a {
    font-size: 16px;
    color: #1C1C1C;
    font-weight: 400;
}

.single-footer-widget .import-link li a i {
    position: relative;
    top: 2px;
}

.single-footer-widget .newsletter-form .form-control {
    border-color: #969696;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #969696;
}

.single-footer-widget .newsletter-form .form-control::-webkit-input-placeholder {
    color: rgba(28, 28, 28, 0.4);
}

.single-footer-widget .newsletter-form .form-control:-ms-input-placeholder {
    color: rgba(28, 28, 28, 0.4);
}

.single-footer-widget .newsletter-form .form-control::-ms-input-placeholder {
    color: rgba(28, 28, 28, 0.4);
}

.single-footer-widget .newsletter-form .form-control::placeholder {
    color: rgba(28, 28, 28, 0.4);
}

.single-footer-widget .newsletter-form .default-btn {
    width: 100%;
    display: block;
    margin-top: 10px;
}

.single-footer-widget .newsletter-form #validator-newsletter {
    color: #ff0000;
}

.single-footer-widget .socila-link {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 30px;
}

.single-footer-widget .socila-link li {
    margin-right: 10px;
    display: inline-block;
}

.single-footer-widget .socila-link li:last-child {
    margin-right: 0;
}

.single-footer-widget .socila-link li a {
    width: 50px;
    height: 50px;
    line-height: 47px;
    text-align: center;
    display: inline-block;
    color: #ffffff;
    background-color: #3b5998;
    border-radius: 50%;
}

.single-footer-widget .socila-link li a:hover {
    background-color: #0057b8;
}

.single-footer-widget .socila-link li:nth-child(2) a {
    background-color: #1da1f2;
}

.single-footer-widget .socila-link li:nth-child(2) a:hover {
    background-color: #0057b8;
}

.single-footer-widget .socila-link li:nth-child(3) a {
    background-color: #0077b5;
}

.single-footer-widget .socila-link li:nth-child(3) a:hover {
    background-color: #0057b8;
}

.single-footer-widget .socila-link li:nth-child(4) a {
    background-color: #e03566;
}

.single-footer-widget .socila-link li:nth-child(4) a:hover {
    background-color: #0057b8;
}

.copy-right-area {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.copy-right-area p {
    margin-bottom: 0;
}

.copy-right-area p a {
    color: #0057b8;
}